<html>
	<head>
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" href="reset.css">

		<title> Big City Little Sweets</title>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" src="javascript.js"></script>

		<script type="text/javascript" src="jquery.ulslide.min.js">
		</script>
		

	</head>
	<body>

   <!-- This is the top nav -->
<header>
	<nav>
		<ul>
			<li> 
				<a href="about.html"> ABOUT</a>
			</li>
			<li> 
				<a href="menu.html"> SERVICES/MENU</a>
			</li>
			<li> 
				<a href="gallery.html"> GALLERY</a>
			</li>
			
			<li><div id="logo"><img src="images/logo.jpg"> </div> </li>

			<li> 
				<a href="contact.html"> CONTACT</a>
			</li>
			<li> 
				<a href="blog.html" target="_blank"> BLOG</a>
			</li>

			<li>
				<div class="social" id="facebook"><a href="https://www.facebook.com/pages/Big-City-Little-Sweets/184299891621932" target="_blank"><img src="social icons/facebook.jpg"></a> </div> 

				<div class="social" id="twitter"> <a href="https://twitter.com/BCLittleSweets" target="_blank"><img src="social icons/twitter.jpg"></a> </div> 

				<div class="social" id="pinterest"><a href="https://www.pinterest.com/bclsnyc/"target="_blank"><img src="social icons/pinterest.jpg"> </a></div>

				<div class="social" id="instagram"><a href="http://instagram.com/bigcitylittlesweets"target="_blank"><img src="social icons/instagram.jpg"></a> </div> 
			</li>

		</ul>
	</nav>
</header>



<!--This is the main image-->

<ul id="slide1">

    <li> <div id="hero1" class="heroimage"></div></li>
    <li> <div id="hero2" class="heroimage"></div></li>
    <li> <div id="hero3" class="heroimage"></div></li>
</ul>

<ul id="slidepager">

	<li> &bull; </li>
	<li> &bull; </li>
	<li> &bull; </li>
</ul>	



<!--This is the footer-->

<footer>
	<center><p id="clients"> CLIENTS: </p></center>




</footer>



</body>
</html>